<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		Тестовое задание 2 (а)
		{% for item in result %}
		<div>
			{{ item.name }} {{ item.price }} {{item.product__count}}
		</div>
		{% endfor %}

		Тестовое задание 2 (б)
		{% for item in result1 %}
		<div>
			{{ item.name }} {{ item.price }}
		</div>
		{% endfor %}
	</body>
</html>